In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('asdeasdaedsdaeasdea'))
s

0     a
1     s
2     d
3     e
4     a
5     s
6     d
7     a
8     e
9     d
10    s
11    d
12    a
13    e
14    a
15    s
16    d
17    e
18    a
dtype: object

In [4]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [6]:
s.value_counts()

a    6
d    5
s    4
e    4
dtype: int64

In [9]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64